.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.buttons *:nth-child(odd) {
  margin-right: 20px;
}

.button {
  letter-spacing: 2px;
  outline: none;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  font: 500 16px/1 "Poppins", sans-serif;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--border--radius);
  background: var(--color-primary);
  color: var(--color-bg);
  position: relative;
  top: 0;
  transition: 0.2s ease;
}
a.button {
  text-decoration: none;
}

.button.flat {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background: transparent;
  /* background: var(--color-bg); */
}
.buttons {
  margin: 20px 0;
}
.buttons > * {
  flex: 1 1 calc(50% - 20px);
  margin: 10px 0;
}
.button:hover,
.button.hover {
  /* top: -3px; */
  opacity: 0.8;
  box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
}
.button.flat:hover {
  background: var(--color-primary);
  color: var(--color-bg);
}
.button.disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}
.button.medium {
  padding: 15px 18px;
  width: auto;
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
}
.button.flat.medium:hover {
  opacity: 1;
}
.button.flat.medium {
  padding: 13px 18px;
  width: auto;
}
.button.flat.big {
  padding: 13px 18px;
  width: 100%;
}

a.button.small {
  padding: 10px 12px;
  width: auto;
  font-size: 14px;
  font-weight: 500;
}
.button.accent3 {
  background: #f44336;
}
.button.small {
  padding: 10px 12px;
  width: auto;
  font-size: 14px;
  font-weight: 500;
}
.button.grey {
  background: var(--color-neutral1);
  color: var(--color-text);
}
