#editor {
  /* width: 95%; */
  margin: 1rem auto;
  /* max-width: var(--width-container); */
}

#editor-posts {
  border: 1px solid #777;
}
#editor input,
#editor label,
#editor textarea {
  width: 100%;
  display: block;
}
#editor textarea {
  resize: vertical;
  min-height: 120px;
  white-space: nowrap;
}

.editor-post:not(li, table) {
  display: block;
}
.editor-post {
  padding: 1em 1rem;
  width: 100%;
}
figure.editor-post[autofocus="autofocus"],
pre.editor-post[autofocus="autofocus"] {
  border: black 2px solid;
}
.editor-post-placeholder {
  position: relative;
}
.editor-post-placeholder::before {
  position: absolute;
  content: attr(_placeholder);
  color: var(--color-neutral6);
}
#editor-toolbar {
  position: absolute;
}
.editor-toolbar-item {
  border: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
  background: var(--color-bg);
  border-radius: 10px;
}
#editor-toolbar p {
  font-size: 0.7rem;
}
#editor-widget {
  display: flex;
  position: absolute;
  /* width: fit-content; */
  /* transition: opacity .2s ease-out; */
}
.editor-widget-item {
  border: none;
  background: none;
}

#editor-action {
  margin-top: 2rem;
}

/* #popup-article-info-img {
  background-size: cover;
  background-position: center;
}
#popup-article-info-img-input {
  display: none;
}
#popup-article-info-img-menu {
  display: none;
  margin-top: -76px;
} */
blockquote.editor-post {
  background: var(--color-primary-light);
  padding: 1em 2rem;
  /* margin: 1rem 0; */
  font-weight: 500;
  border-left: 0.5rem solid var(--color-primary);
}
.editor-post figcaption {
  padding: 0.5em 1rem;
  font-style: italic;
}
kbd.editor-post {
  position: relative;
  background: var(--color-primary-dark);
  color: var(--color-primary-light);
  border-radius: 4px;
  padding-left: 3rem;
}
kbd.editor-post::after {
  position: absolute;
  content: "+";
  left: 1rem;
  color: #ddd;
}
kbd.editor-post-placeholder::before {
  color: var(--color-primary-light);
}

.editor-popup {
  display: flex;
  background: rgba(85, 85, 85, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.editor-popup-wrapper {
  width: 100%;
  max-height: 90vh;
  min-width: 400px;
  min-height: 200px;
  background: var(--color-bg);
  opacity: 1;
  padding: 2em 2em 1em 2em;
  overflow-y: auto;
}
/* .editor-img-paste-field{
  border: var(--color-primary-dark) 2px solid;
  display: flex;
  justify-content: center;
}
.editor-img-paste-field img{
  max-height: 400px;
}
.editor-img-local-preview{
  display: flex;
  justify-content: center;
} */
#editor-img-preview-img {
  max-height: 400px;
}
.editor-img-or {
  text-align: center;
  margin: 1rem 0;
}
.editor-img-label {
  display: block;
  margin: 0.5rem 0;
}
#editor-img-gallery-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 250px;
  padding-left: 0;
}
.editor-img-gallery-list-item {
  display: flex;
  align-items: center;

  flex-basis: 25%;
  padding: 4px;
  list-style: none;
}
.editor-img-gallery-list-item:hover {
  border: var(--color-primary-dark) 2px solid;
}

#popup-article-info-preview {
  position: relative;
  min-height: 50px;
  margin: 1rem 0;
}
#popup-article-info-img {
  max-height: 300px;
}
#popup-article-info-preview .button {
  position: absolute;
  top: 50%;
  font-size: 0.7rem;
}
#popup-article-info-input {
  transform: translateY(-0.8rem);
}

#popup-article-info-delete {
  display: none;
  transform: translateY(0.8rem);
}

#editor-code-lang {
  width: 100%;
}
.editor-action-item {
  margin-right: 1rem;
}
pre {
  background: var(--color-bg-code);
  color: var(--color-bg-text);
}
.editor-table-icon {
  width: 2rem;
  cursor: pointer;
}

#editor-table-main td,
#editor-table-main th {
  position: relative;
  padding: 0;
}
#editor-table-main textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  resize: none;
}
.editor-posts table th {
  min-height: 0;
  resize: none;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

#editor-widget {
  padding: 6px;
  position: absolute;
  display: none;
}

.tooltip-button {
  position: absolute;
  top: -38px;
  left: calc(50% - 50px);
  font-size: 0.6em;
  background-color: var(--color-text);
  border-radius: 40px;
  color: white;
  padding: 4px;
  width: 100px;
  display: none;
}
.editor-widget-item i {
  line-height: inherit;
}
.editor-widget-item {
  position: relative;
  padding: 1rem 1.2rem;
  background: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
  outline: none;
  color: var(--color-text);
  padding: 0 1rem;
  /* width: 100%; */
  border-radius: 10px;
}
/*.multi-button button:first-child {
   border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.multi-button button:last-child {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
} */
.editor-toolbar-item:hover,
.editor-widget-item:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.editor-widget-item:hover > .tooltip-button {
  display: block;
}

.animate-right {
  animation: tooltip-animate-right 0.3s ease-out forwards;
}
.animate-left {
  animation: tooltip-animate-left 0.3s ease-out forwards;
}
@keyframes tooltip-animate-right {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes tooltip-animate-left {
  0% {
    transform: translateX(-75px);
  }
  100% {
    transform: translateX(0px);
  }
}

.editor-widget-item.editor-widget-item-active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
