.section-gallery_games {
  padding: 3rem 1px;
  display: flex;
  justify-content: space-between;
}
.section-gallery_games > * {
  flex-basis: 50%;
}
.section-gallery_games-header {
  padding-left: 2rem;
}
.section-gallery_games-header-title {
  font-size: 4rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section-gallery_games-header-description {
  font-size: 0.8rem;
  font-weight: 100;
  font-family: var(--font-family-primary);
  margin-bottom: 1rem;
}

.section-gallery_games__image {
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.section-gallery_games__image > img {
  width: 100%;
}
.section-gallery_games-preview {
  position: relative;
}
.section-gallery_games-author {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
.section-gallery_games-header .section-gallery_games-header-tags {
  margin-bottom: 1rem;
}
.section-gallery_games__image_list {
  position: absolute;
  bottom: 1rem;
  max-height: 250px;
  max-width: 50%;
  transform: rotate(-15deg);
  border: 2px solid var(--color-bg);
}
.section-gallery_games__image_list_2 {
  left: 7rem;
  max-height: 100px;
  max-width: 30%;
  transform: rotate(5deg);
}

.section-gallery_games__carousel {
  width: 100%;
  position: absolute;
  bottom: -2rem;
}
.section-gallery_games__carousel-steps {
  display: flex;
  justify-content: center;
}
.section-gallery_games__carousel-steps > div {
  width: 12px;
  height: 12px;
  background: var(--color-neutral4);
  margin-left: 12px;
  border-radius: 20px;
  cursor: pointer;
}
.section-gallery_games-raitings {
  display: flex;
  margin: 0.2rem 0;
}
.section-gallery_games-raiting-title {
  font-size: 0.8rem;
  text-decoration: none;
}
