@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../fonts/icon.woff2) format("woff2");
}
.icon.action {
  cursor: pointer;
}
.icon {
  display: inline-block;
  text-align: center;

  color: var(--color-primary);
}
.icon:hover {
  opacity: 0.5;
}
.icon p {
  margin: 0;
  line-height: 1;
  font-size: 0.6em;
  color: var(--color-text-light);
}
.icon.noactive {
  color: var(--color-text-light);
}
button.icon {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-primary);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
}
