.nav {
  font-size: 0.9em;
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  top: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  z-index: 100;
  box-shadow: 0 1px 1.8rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.nav a,
.nav a:visited {
  transition: 0.2s;
  text-decoration: none;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
}
.menu ul li {
  float: left;
  position: relative;
  margin: 0;
}
.menu ul li span,
.menu ul li span:visited,
.menu ul li a,
.menu ul li a:visited {
  cursor: pointer;
  display: block;
  padding: 0 20px;
  line-height: var(--nav-height);
  /* background: var(--color-bg); */
  color: var(--color-text);
}
.menu ul li span:hover,
.menu ul li span:visited:hover,
.menu ul li a:hover,
.menu ul li a:visited:hover {
  background: var(--color-primary);
  color: var(--color-bg);
}
.menu ul li a:not(:only-child):after,
.menu ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
.y-dropdown-menu li span,
.menu ul li ul li {
  min-width: 190px;
}
.menu ul li ul li a,
.menu ul li ul li span {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  background: var(--color-bg);
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  background: var(--color-bg);
  height: var(--nav-height);
}

#nav-toggle {
  position: absolute;
  left: calc((var(--nav-height)+28px) / 2);
  top: calc((var(--nav-height)+36px) / 2);
  cursor: pointer;
  margin-left: -17px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--color-text);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.nav-logo {
  z-index: 5;
  margin-left: var(--nav-height);
}

.nav-logo span {
  font-family: var(--font-family-title);
  display: inline-block;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.4rem;
  background-color: var(--color-primary);
  text-transform: uppercase;
  padding: 0 2em;
  line-height: var(--nav-height);
  transition: 0.2s;
}

.nav-logo:hover span {
  line-height: 28px;
  margin-top: 14px;
}

.button-scroll-up,
.button-scroll-up:visited {
  position: fixed;
  bottom: 20px;
  transition: 0.2s;
  left: 70px;
  background: var(--color-primary);
  color: var(--color-bg);
  font-size: 28px;
  width: 38px;
  height: 38px;
  line-height: 47px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  border-radius: 8px;
  border: 2px solid var(--color-bg);
  z-index: 2;
  text-decoration: none;
}
.button-scroll-up:hover {
  background: var(--color-bg);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    z-index: 10;
  }

  ul.nav-list {
    margin-top: var(--nav-height);
    min-width: 100%;
    position: fixed;
    z-index: 1;
  }
  .nav-logo,
  .nav-logo span {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .menu ul {
    display: none;
  }
  .menu ul li {
    float: none;
  }
  .menu ul li a {
    padding: 15px;
    line-height: 20px;
  }
  .menu ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }

  .button-scroll-up,
  .button-scroll-up:visited {
    bottom: 2px;
    left: 2px;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
