.timeline a {
  color: var(--color-primary);
}
.timeline h3 {
  font-family: var(--font-family-primary);
}

.timeline .timeline__items {
  list-style: none;
  margin-left: 0.75em;
  margin-top: 2rem;
}
.timeline .timeline__item {
  padding: 0 0 1.5em 1.25em;
  position: relative;
}
.timeline .timeline__item br {
  display: none;
}
.timeline__item:before,
.timeline__item:after,
.timeline__item .timeline__item-pub,
.timeline__item .timeline__item-time,
.timeline__item .timeline__item-link {
  transition: background-color var(--trans-dur),
    opacity var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1),
    transform var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
}
.timeline__item:before,
.timeline__item:after {
  background-color: var(--color-primary);
  content: "";
  display: block;
  position: absolute;
  left: 0;
}
.timeline__item:before {
  border-radius: 50%;
  top: 0.45em;
  width: 1em;
  height: 1em;
  transform: translateX(-50%) scale(0);
  z-index: 1;
}
.timeline__item:after {
  top: 0.75em;
  width: 0.15em;
  height: 100%;
  transform: translateX(-50%);
}
.timeline__item:last-child:after {
  /* display: none; */
}
.timeline__item-pub,
.timeline__item-link,
.timeline__item-img,
.timeline__item-time {
  display: block;
  /* opacity: 0; */
  /* transform: translateX(-0.75em); */
  margin-bottom: 0.6rem;
}
.timeline__item-link,
.timeline__item-link:visited {
  color: var(--primary);
}
.timeline__item-link {
  transition: color var(--trans-dur);
}
.timeline__item-link:hover {
  text-decoration: underline;
}
.timeline__item-pub,
.timeline__item-time {
  font-size: 0.833em;
  line-height: 1.8;
}
.timeline__item-time {
  font-weight: bold;
}
.timeline__loading {
  text-align: center;
}

/* Observed items */
.timeline__item--in .timeline__item-pub,
.timeline__item--in .timeline__item-link,
.timeline__item--in .timeline__item-time {
  opacity: 1;
  transform: translateX(0);
}
.timeline__item--in:before {
  transform: translateX(-50%) scale(1);
}

/* Beyond mobile */
@media (min-width: 768px) {
  .timeline .timeline__items {
    margin-left: 12em;
    width: 27em;
  }
  .timeline__item-time {
    position: absolute;
    top: 0;
    right: calc(100% + 1.25rem);
    text-align: right;
    width: 27rem;
    transform: translateX(0.75em);
  }
}
