.spoiler::before {
  display: block;
  position: absolute;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23161616'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in,
    transform 0.1s ease-in;
}
.spoiler.spoiler-show::before {
  transform: rotate(-180deg);
}
.spoiler-content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in,
    transform 0.1s ease-in;
  overflow: hidden;
}
.spoiler.spoiler-show .spoiler-content {
  max-height: 500px;
  opacity: 1;
}
