@font-face {
  font-family: "Inter", sans-serif;
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSerif", sans-serif;
  src: url(../fonts/IBMPlexSerif-Regular.ttf) format("ttf"),
    url(../fonts/IBMPlexSerif-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: var(--color-neutral3);
  border: 8px solid var(--color-neutral3);
}
html {
  scroll-behavior: smooth;
  height: 100%;
  background: var(--color-bg);
  font-size: var(--base-font);
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
  margin: calc(var(--nav-height) + 20px) 0 0 0;
  overflow-x: hidden;
  color: var(--color-text);
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: body-animation 0.9s;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
}
nav {
  flex: 0 0 auto;
}
hr {
  background-color: var(--color-neutral2);
  border: 0;
  height: 1px;
  margin: 2em 0;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-title);
}
a {
  color: var(--color-text);
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
@keyframes body-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
picture {
  display: block;
  width: 100%;
  height: 100%;
}
picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.container {
  position: relative;
  width: 95%;
  margin: 1em auto;
  max-width: var(--width-container);
}
.container-sm {
  position: relative;
  width: 95%;
  margin: 1em auto;
  max-width: var(--width-container-sm);
}
.container-lg {
  position: relative;
  width: 95%;
  margin: 1em auto;
  max-width: var(--width-container-lg);
}
.container-u {
  position: relative;
  width: 95%;
  margin: 1em auto;
  max-width: var(--width-container-u);
}
.container-plus {
  width: var(--width-container-lg);
  margin: 2em auto 0.5em -100px;
}

.row {
  display: flex;
}

@media screen and (max-width: 800px) {
  html {
    font-size: calc(var(--base-font) * 0.8);
  }
  .container-plus {
    margin: 2em 0 0 0;
    width: 100%;
  }

  .content .description {
    padding: 1em;
  }
  .content .article {
    flex-direction: column;
  }
  .article .article-picture {
    height: auto;
    width: auto;
  }
  .article .article-info {
    width: auto;
    padding-left: 0;
  }
  .article .article-info-meta {
    justify-content: space-between;
  }
  .content #comment-form {
    margin: 0;
    background-color: var(--color-neutral1);
    padding: 0.5em;
  }
}

.status-blue {
  background: #e1f5fe;
  color: #0288d1;
}
.status-violet {
  background: #ede7f6;
  color: #311b92;
}
.status-lagoon {
  background: #e0f2f1;
  color: #00796b;
}
.status-green {
  background: #e7f6d5;
  color: #689f38;
}
.status-red {
  background: #ffdde0;
  color: #d32f2f;
}
.h250 {
  height: 250px !important;
}
.h400 {
  height: 400px !important;
}
.w100 {
  width: 100% !important;
}
.center {
  display: flex;
  justify-content: center;
}
.progress-container {
  position: fixed;
  top: var(--nav-height);
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  background: #fefefe;
}
.progress-bar {
  height: 4px;
  background: var(--color-primary);
  width: 0%;
}
.preloader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--color-primary); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.hidden {
  display: none !important;
}

caption {
  text-align: left;
  padding: 0.5rem 1rem;
  font-style: italic;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-scroll-up,
.button-scroll-up:visited {
  position: fixed;
  bottom: 20px;
  transition: 0.2s;
  left: 70px;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 28px;
  width: 38px;
  height: 38px;
  line-height: 47px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  border-radius: 8px;
  border: 2px solid var(--color-light);
  z-index: 2;
  text-decoration: none;
}
